<!DOCTYPE HTML>
<html>
    <title>Tori Mayhall</title>
    <body>
        <h1 style= "text-align:center">'imnobodysoyeah' aka Tori Mayhall</h1>
            <p style = "text-align:center">My name is Victoria Mayhall, but I go by Tori. I am a computer science major that is graduating in May of this year (2024). Before I decided on Computer Science, I was thinking of getting my degree in sound engineering. I love music.</p>
    </body>
</html>
