<h1>Directory of Student Pages</h1>

<ul>
<li><%= link_to 'mcn3i1', mcn3i1_path%></li>
    <li><%= link_to 'imnobodysoyeah', imnobodysoyeah_path %>
  <li><%= link_to 'cherrymae1', cherrymae1_path %></li>
  <li><%= link_to 'mcrayman', mcrayman_path %></li>
</ul>
